:root {
    /* Dark theme colors */
    --bg-color: #2E3A40;
    --text-color: #f4f4f4;
    --grid-bg-color: #3E4C53;
    --header-bg-color: #1F2A30;
}

.light-theme {
    /* Light theme colors */
    --bg-color: #f4f4f4;
    --text-color: #2E3A40;
    --grid-bg-color: #fff;
    --header-bg-color: #ccc;
}

/* General Styling */
body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1 {
    flex-grow: 1; /* Make the title take up the remaining space */
    text-align: center;
    color: var(--text-color);
}

h3 {
    color: var(--text-color);
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
    padding: 10px 20px;
    background-color: var(--header-bg-color);
    position: relative; /* Add relative positioning */
}

/* Theme Toggle Button */
#theme-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 20px;
    top: 20px;
    outline: none;
    box-shadow: none;
}

#theme-toggle:focus, #theme-toggle:active {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none; /* For Webkit browsers (Chrome, Safari) */
    -moz-box-shadow: none; /* For Firefox */
}

#theme-toggle img {
    width: 50px;
    height: 50px;
    display: block;
}

/* For WebKit browsers */
#theme-toggle::-moz-focus-inner {
    border: 0;
    outline: none;
}

#theme-toggle img:hover {
    transform: scale(1.1); /* Add hover effect if desired */
}

#theme-toggle:hover {
    background-color: #5E6A71;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    grid-gap: 30px;
    padding: 20px;
}

.grid-item {
    background-color: var(--grid-bg-color);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Filters for different themes */
.light-theme {
    --icon-filter: invert(0); /* Normal colors for light theme */
}

.dark-theme {
    --icon-filter: invert(1); /* Invert colors for dark theme */
}

/* Responsive for smaller screens */
@media only screen and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.plot-frame {
    width: 100%;
    height: 500px;
    border: none;
}
